//
// Footer
//

footer {
  a {
    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }
<<<<<<< HEAD
  p {
    // font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    padding: 0 0 20px 0; /* T R B L */
    // li {
    //   display: inline-block;
    // }
    // li::after {
    //   content: " |";
    // }
    // li:last-child::after {
    //   content: "";
    // }
  }
  .footer-copyright {
    // background-color: $gray-700;
    // color: $gray-200;
    font-size: .8rem;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    // a {
    //   text-decoration: none;
    //   color: $gray-200;
    //   &:hover {
    //     color: white;
    //     text-decoration: none;
    //   }
    // }
  }
}

//- Sticky footer styles
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrap {
    flex: 1;
=======
>>>>>>> webpack
}
