footer.bg-gray-darker
  .container
    .row
      .col-md-8.gray-lighter
        h3.gray-light Footer Content
        p You can use rows and columns here to organize your footer content.
      .col-md-4.gray-lighter
        h3.gray-light Links
        ul
          li
            a(href='http://taxproductsgroupblog.com') Blog
          li
            a(href='http://support.tpgtaxpro.com') Support
          li
            a(href='/terms') Terms of Use
  .footer-copyright.bg-black
    .container.gray-light
      | Copyright © #{moment().format('YYYY')} #{application}, all rights reserved.
      a.pull-right(href='https://www.greendot.com/greendot') A Green Dot Company
