footer.bg-dark.text-muted.mt-4
  .container
    .row.py-3
      .col-sm-8
        h4 Footer Content
        p.my-2 You can use rows and columns here to organize your footer content. This a great place for a short message or some background about the company.
      .col-sm-4
        h4 Links
        ul.list-unstyled
          li
            a.text-white(href='http://taxproductsgroupblog.com') Blog
          li
            a.text-white(href='http://support.tpgtaxpro.com') Support
          li
            a.text-white(href='/terms') Terms of Use
    .row
      .col-sm-12
        p.small
          | Copyright © #{moment().format('YYYY')} #{application}, all rights reserved.
