footer
  .container
    .row
      .col-md-8
        h4 Footer Content
        p You can use rows and columns here to organize your footer content.
      .col-md-4
        h4 Links
        ul
          li
            a(href='http://taxproductsgroupblog.com') Blog
          li
            a(href='http://support.tpgtaxpro.com') Support
          li
            a(href='/terms') Terms of Use
    .footer-copyright
      //- .container
      | Copyright © #{moment().format('YYYY')} #{application}, all rights reserved.
      //- a.pull-right(href='https://www.greendot.com/greendot')  A Green Dot Company
