messages
  if messages
    if messages.error
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        for error in messages.error
          .alert_message
            strong
              i.fas.fa-lg.fa-exclamation-triangle
            | &nbsp;&nbsp;#{error}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
    if messages.warning
      .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        for warning in messages.warning
          .alert_message
            strong
              i.fas.fa-lg.fa-exclamation-triangle
            | &nbsp;&nbsp;#{warning}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
    if messages.info
      .alert.alert-info.alert-dismissible.fade.show(role='alert')
        for info in messages.info
          .alert_message
            strong
              i.fas.fa-lg.fa-info-circle
            | &nbsp;&nbsp;#{info}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
    if messages.success
      .alert.alert-success.alert-dismissible.fade.show(role='alert')
        for success in messages.success
          .alert_message
            strong
              i.fas.fa-lg.fa-check-circle
            | &nbsp;&nbsp;#{success}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
