//- Load Scripts
script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\\/script>')
script(src='/lib/tether/dist/js/tether.min.js')
script(src='/js/main.min.js')

//- script(src='/assets/js/vendor/anchor.min.js')
//- script(src='/assets/js/vendor/clipboard.min.js')
//- script(src='/assets/js/vendor/holder.min.js')
//- script(src='/assets/js/src/application.js')

block scripts
