//- Load Scripts
script(src='/lib/jquery/jquery.slim.min.js')
script(src='/lib/popper.js/popper.min.js')
script(src='/js/main.min.js')
script(defer, src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")

//- script(src='/assets/js/vendor/anchor.min.js')
//- script(src='/assets/js/vendor/clipboard.min.js')
//- script(src='/assets/js/vendor/holder.min.js')
//- script(src='/assets/js/src/application.js')

block scripts
