extends ../layouts/layout

block head
  title #{application} &middot; Error

block content
  //- attempting this with native BS: https://www.tableau.com/
  .hero-image
    .container
      .row
        .col-md-6.text-center.text-md-left.pr-md-5
          .spacer.mt-3.pt-5
          h1.display-3.mt-3 Make your data make an impact
          p.lead.mb-4
            | Tableau helps the world’s largest organizations unleash the power of their most valuable assets: their data
          .d-flex.flex-column.flex-md-row.lead.mb-3
            a.btn.btn-lg.btn-warning.mb-3.mb-md-0.mr-md-3(href='/docs/4.0/getting-started/', onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');") Get started
            a.btn.btn-lg.btn-outline-secondary(href='/docs/4.0/getting-started/download/', onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 4.0.0-beta');") Download

  .container-fluid
    .card-group.py-5
      .card.border-white
        .thumbnail
          a(href='/getting-started/download/#package-managers')
            img.card-img-top(src='/img/landing/whoweare.jpg', alt="")
        .card-body
          h4.font-weight-light.card-title Who We Are
          p.card-text
            | We're helping people see and understand data.
        .card-footer.bg-white.border-white
          a.btn.btn-outline-warning(href='/getting-started/download/#package-managers') Learn More

      .card.border-white
        .thumbnail
          a(href='/getting-started/download/#package-managers')
            img.card-img-top(src='/img/landing/jack.jpg', alt="")
        .card-body
          h4.font-weight-light.card-title Users in the Cloud
          p.card-text
            | Maker of Jack Daniel's fuels marketing transformation with Tableau.
        .card-footer.bg-white.border-white
          a.btn.btn-outline-warning(href='/getting-started/download/#package-managers') Read More

      .card.border-white
        .thumbnail
          a(href='/getting-started/download/#package-managers')
            img.card-img-top(src='/img/landing/community.jpg', alt="")
        .card-body
          h4.font-weight-light.card-title Our Community
          p.card-text
            | Connect with an active, vibrant community of Tableau users.
        .card-footer.bg-white.border-white
          a.btn.btn-outline-warning(href="#") Join In

      .card.border-white
        .thumbnail
          a(href='/getting-started/download/#package-managers')
            img.card-img-top(src='/img/landing/alaska.jpg', alt="")
        .card-body
          h4.font-weight-light.card-title Careers with Us
          p.card-text
            | Northeastern grad lands job at Alaska Airlines.
        .card-footer.bg-white.border-white
          a.btn.btn-outline-warning(href="#") Read More


  .container-fluid.bg-light

    .row.text-center
      .col-md-2
      .col-md-8.py-5
        h1.font-weight-light Inspire lightbulb moments
        p.lead
          | Whether you’re driving decisions across your organization or embedding insights into your software, app, or website – choose the analytics software that works the way people think.

    .row
      .col-md-1
      .col-md-10
        .card-group.pb-5
          .card.bg-light.border-light
            .thumbnail
              a(href='/getting-started/download/#package-managers')
                img.card-img-top(src='/img/landing/enterpriseit.jpg', alt="")
            .card-body
              h4.font-weight-light.card-title Enterprise Analytics Powered by IT
              p.card-text
                | Get more from your data. And your people.
            .card-footer.bg-light.border-light
              a.btn.btn-outline-warning(href='/getting-started/download/#package-managers') Learn More
          .card.bg-light.border-light
            .thumbnail
              img.card-img-top(src='/img/landing/embeddedanalytics.jpg', alt="")
            .card-body
              h4.font-weight-light.card-title Embedded Analytics
              p.card-text
                | Analytics your customers want. Powered by Tableau.
            .card-footer.bg-light.border-light
              a.btn.btn-outline-warning(href='/getting-started/download/#package-managers') Learn More
