doctype html
html(lang="en")
  head
    include ../partials/head
  body.page
    include ../partials/navigation
    include ../partials/messages
    
    .page-content
      block content
      
    include ../partials/footer
    include ../partials/scripts
