doctype html
html(lang="en")
  head
    include ../partials/head
  body
    .wrap
      include ../partials/navigation
      include ../partials/messages

      block content

    include ../partials/footer
    include ../partials/scripts
