doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title Offcanvas template for Bootstrap
    // Bootstrap core CSS
    link(href='css/main.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/offcanvas.css', rel='stylesheet')
  body.bg-light
    nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
      a.navbar-brand(href='#') Offcanvas navbar
      button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
        span.navbar-toggler-icon
      #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Dashboard
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Notifications
          li.nav-item
            a.nav-link(href='#') Profile
          li.nav-item
            a.nav-link(href='#') Switch account
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Settings
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#') Something else here
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    .nav-scroller.bg-white.box-shadow
      nav.nav.nav-underline
        a.nav-link.active(href='#') Dashboard
        a.nav-link(href='#')
          | Friends
          span.badge.badge-pill.bg-light.align-text-bottom 27
        a.nav-link(href='#') Explore
        a.nav-link(href='#') Suggestions
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
    main.container(role='main')
      .d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.box-shadow
        img.mr-3(src='img/bootstrap-outline.svg', alt='', width='48', height='48')
        .lh-100
          h6.mb-0.text-white.lh-100 Bootstrap
          small Since 2011
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Recent updates
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            strong.d-block.text-gray-dark @username
            |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1', alt='')
          p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            strong.d-block.text-gray-dark @username
            |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1', alt='')
          p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            strong.d-block.text-gray-dark @username
            |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        small.d-block.text-right.mt-3
          a(href='#') All updates
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Suggestions
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Full Name
              a(href='#') Follow
            span.d-block @username
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Full Name
              a(href='#') Follow
            span.d-block @username
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Full Name
              a(href='#') Follow
            span.d-block @username
        small.d-block.text-right.mt-3
          a(href='#') All suggestions
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='/lib/popper.js/popper.min.js')
    script(src='/js/main.min.js')
    script(defer, src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
    script(src='lib/holderjs/holder.min.js')
    script(src='js/offcanvas.js')
