extends ../layouts/layout

block head
  title #{application} &middot; Messages

block content
  .container
    br
    .row
      .col-5
        p
          a.btn.btn-primary.btn-lg.btn-block(href="/") Return to our Home Page
