extends ../layouts/layout

block head
  title #{application} &middot; Enrollment

block styles
  link(rel='stylesheet', href='lib/animate.css/animate.min.css')

block content
  main#content.bd-masthead(role='main')
    .container
      .row.align-items-center
        .col-6.mx-auto.col-md-6.order-md-2
          img.img-fluid.mb-3.mb-md-0(src='/img/bootstrap-stack.png', alt='Bootstrap')
        .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
          h1.display-3.mb-3.animation-fast.animated.fadeInDown.bd-text-purple-bright Bootstrap
          p.lead
            | Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
          p.lead.mb-4
            | Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
          .d-flex.flex-column.flex-md-row.lead.mb-3
            a.btn.btn-lg.btn-bd-purple.mb-3.mb-md-0.mr-md-3(href='/docs/4.0/getting-started/', onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');") Get started
            a.btn.btn-lg.btn-outline-secondary(href='/docs/4.0/getting-started/download/', onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 4.0.0-beta');") Download
          p.text-muted.mb-0
            | Currently v4.0.0-beta

  .bd-featurette
    .container.flex-grow
      h2.bd-featurette-title Easy to get started.
      p.lead
        | Quickly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.
      .row
        .col-sm-6.m-b-lg
          h4 Managed dependencies
          p
            | Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          p
            a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
        .col-sm-6.m-b-lg
          h4 Bootstrap CDN
          p
            | When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.
          p.text-muted Not yet available, but hopefully soon!

  .container
    .row.align-items-center
      .col-sm-4.m-b-lg
        .card
          img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
          .card-body
            h4.card-title Managed dependencies
            p.card-text
              | Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm.
            a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
      .col-sm-4.m-b-lg
        .card
          img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
          .card-body
            h4.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
            a.btn.btn-outline-primary(href="#") Go somewhere
      .col-sm-4.m-b-lg
        .card
          img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
          .card-body
            h4.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
            a.btn.btn-outline-primary(href="#") Go somewhere

    .card-group
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Managed dependencies
          p.card-text
            | Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-outline-primary(href="#") Go somewhere
    .card-deck
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Managed dependencies
          p.card-text
            | Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
        .card-footer
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
        .card-footer
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
      .card
        img.card-img-top(src='/img/bootstrap-stack.png', alt="Card image cap")
        .card-body
          h4.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-outline-primary(href="#") Go somewhere
        .card-footer
          a.btn.btn-outline-primary(href='/getting-started/download/#package-managers') View install methods
  //-
  //- .hero.page-content
  //-   .container.white
  //-     //- .masthead-brand
  //-     //-   a(href='/')
  //-     //-     img(src='https://d1ir1l1v07ijd0.cloudfront.net/img/logos/tpg_logo_rev.png', alt='TPG Logo')
  //-     .row
  //-       .col-sm-10.col-sm-offset-1
  //-         .hero-heading(data-animation='fadeIn')
  //-           h1.animation-fast.animated.fadeInDown Welcome! Let's get started!
  //-           p.animation-slow.animated.fadeIn Please signup for the 2016 tax season with Tax Products Group.
  //-         form.form-horizontal(role='form', method='POST')
  //-           input(type='hidden', name='_csrf', value=_csrf)
  //-           .form-group.form-group-lg
  //-             label.sr-only.control-label(for='email') Email Address
  //-             .col-sm-5.col-sm-offset-2
  //-               input.form-control(type='email', name='email', id='email', placeholder='Enter your email address', autofocus=true, required)
  //-             .col-sm-3
  //-               button.btn.btn-lg.btn-hero-clear.btn-block(type='submit') Start

block scripts
  //- script.
  //-   setTimeout(function() {
  //-     var stylesheet;
  //-     // from head
  //-     stylesheet = document.createElement('link');
  //-     stylesheet.href = '//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,500,700';
  //-     stylesheet.rel = 'stylesheet';
  //-     stylesheet.type = 'text/css';
  //-     document.getElementsByTagName('head')[0].appendChild(stylesheet);
  //-     // from styles above
  //-     stylesheet = document.createElement('link');
  //-     stylesheet.href = '/css/page-enrollment.min.css';
  //-     stylesheet.rel = 'stylesheet';
  //-     stylesheet.type = 'text/css';
  //-     document.getElementsByTagName('head')[0].appendChild(stylesheet);
  //-     // from syles above
  //-     stylesheet = document.createElement('link');
  //-     stylesheet.href = '/lib/animate.css/animate.min.css';
  //-     stylesheet.rel = 'stylesheet';
  //-     stylesheet.type = 'text/css';
  //-     document.getElementsByTagName('head')[0].appendChild(stylesheet);
  //-   }, 0);
